h1 {
    color: red;
}

.graphic1 {
    width: 80%;
    margin: 0 auto;
    margin: 0 10%;
    margin-left: 20px;
    height: 200px;

    span {
        color: blue;
        font-size: 20px;
        font-family: helvetica;
    }
}
