extends layout

block content
    div.wrapper-content
        section.hero
            div.hero-content
                div.container
                    h1.title.is-1= title
        
        section.section
            div.container
                div.columns
                    div.column.graphic-wrapper
                        p.notification.is-info This is the first graphic
                        div.graphic.grid-1
                            span
                        
                    div.column.graphic-wrapper
                        p.notification.is-info This is the first graphic
                        div.graphic.grid-2
                            span
                    div.column.graphic-wrapper
                        p.notification.is-info This is the first graphic
                        div.graphic.grid-3
                            span
