extends layout

block content
    h1= title
    
    div.graphic1
        span This is the first graphic
        
    div.graphic2
        span This is the second graphic
        
    div.graphic3
        span This is the third graphic
