extends layout

block content

  section.hero
    div.hero__image
    h1.hero__title Generic hero title.

  section.social
    div.social__image
    div.social__content
      span.social__name Mr. Generic
      p.social__post This is a generic post from a generic person on a generic social module.
